/* Base button */

.button {
	margin: 1rem;
	padding: 0.6rem 1rem;
	border: 2px solid var(---basedark);
	border-radius: 6px;
	background-color: #214f94;
	color: var(---light);
	font-size: 1rem;
	font-weight: 600;

	cursor: pointer;
	transition:
		background-color 0.2s ease,
		color 0.2s ease,
		transform 0.1s ease,
		box-shadow 0.1s ease;
}

/* Hover */
.button:hover {
	background-color: #1c4480;
	transform: translateY(-2px);
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
	filter: brightness(1.1);
}

.button:active {
	transform: translateY(0);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

/*Secondary variant */
.secondary {
	border-color: #214f94;
	color: white;
}
