.card {
	border: 1px solid black;
	margin-bottom: 1rem;
}

.badge {
	display: inline-block;
	padding: 0.45rem 0.65rem;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 999px;
	font-size: 0.9rem;
	font-weight: 600;
	margin-bottom: 0.75rem;
}

.meta {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	margin: 0.5rem 0 0.75;
}

.metaItem {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.icon {
	inline-size: 1em;
	block-size: 1em;
	translate: 0 1px;
	opacity: 0.9;
}

.badge.groupCoding {
	background: #c3d7f0;
	color: #003666;
}

.badge.architectsKataClub {
	background: #f4cedf;
	color: #5e1dcf;
}

.badge.careerCorner {
	background: rgb(200, 234, 243);
	color: rgb(224, 5, 23);
}

.badge.bootcamp {
	background: #e9ddff;
	color: #5b21b6;
}
