.about {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding-top: 3.1rem;
  padding-bottom: 3rem;
  background-color: var(---light);
  background-image: radial-gradient(circle, #0036667d 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  font-weight: 400;
  font-family: var(---basefont);
  color: var(---baselight);
  overflow: hidden;
}

/* Intro */

.aboutIntro h2 {
  margin: 0;
  font-size: 3rem;
}
.aboutIntro {
  margin: 2rem 2rem 0 2rem;
  padding: 2rem;
  background-color: var(---light);
  font-size: 1.5rem;
  text-align: center;
  color: var(---basedark);
}

@media (max-width: 768px) {

  .aboutIntro {
    margin: 2.5rem 1rem 0 1rem;
    padding: 1rem;
  }
  .aboutIntro h2 {
    font-size: 2.2rem;
  }
  .aboutIntro p {
    font-size: 1.3rem;
  }
  .pillars {
    display: none;
  }
  .smallScreenPillars {
    display: block;
  }
}
@media (min-width: 768px) {
  .pillars {
    display: block;
  }
  .smallScreenPillars {
    display: none;
  }
}
@media (max-width: 450px) {
  .aboutIntro {
    padding: 0.5rem;
  }
  .aboutIntro h2 {
    font-size: 2rem;
  }
  .aboutIntro p {
    font-size: 1.2rem;
  }
}


/* done */
